@charset "UTF-8";
@font-face {
	font-family: 'shs-b';
	font-weight: 700;
	src: local('Spoqa Han Sans Bold'), local('Spoqa Han Sans Bold'),
	url('https://cdn.rawgit.com/spoqa/spoqa-han-sans/892af0c6/Subset/SpoqaHanSans/Spoqa%20Han%20Sans%20Bold.woff2') format('woff2'),
	url('https://cdn.rawgit.com/spoqa/spoqa-han-sans/892af0c6/Subset/SpoqaHanSans/Spoqa%20Han%20Sans%20Bold.woff') format('woff'),
	url('https://cdn.rawgit.com/spoqa/spoqa-han-sans/892af0c6/Subset/SpoqaHanSans/Spoqa%20Han%20Sans%20Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'shs-r';
	font-weight: 400;
	src: local('Spoqa Han Sans Regular'), local('Spoqa Han Sans Regular'),
	url('https://cdn.rawgit.com/spoqa/spoqa-han-sans/892af0c6/Subset/SpoqaHanSans/Spoqa%20Han%20Sans%20Regular.woff2') format('woff2'),
	url('https://cdn.rawgit.com/spoqa/spoqa-han-sans/892af0c6/Subset/SpoqaHanSans/Spoqa%20Han%20Sans%20Regular.woff') format('woff'),
	url('https://cdn.rawgit.com/spoqa/spoqa-han-sans/892af0c6/Subset/SpoqaHanSans/Spoqa%20Han%20Sans%20Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'shs-l';
	font-weight: 300;
	src: local('Spoqa Han Sans Light'), local('Spoqa Han Sans Light'),
	url('https://cdn.rawgit.com/spoqa/spoqa-han-sans/892af0c6/Subset/SpoqaHanSans/Spoqa%20Han%20Sans%20Light.woff2') format('woff2'),
	url('https://cdn.rawgit.com/spoqa/spoqa-han-sans/892af0c6/Subset/SpoqaHanSans/Spoqa%20Han%20Sans%20Light.woff') format('woff'),
	url('https://cdn.rawgit.com/spoqa/spoqa-han-sans/892af0c6/Subset/SpoqaHanSans/Spoqa%20Han%20Sans%20Light.ttf') format('truetype');
}


/* 기본 스타일 */
html {font-size:10px;}
body {font-size:1.6rem; line-height:1.5; color:#333; font-family:'shs-r', 'Malgun Gothic', helvetica, 'Apple Gothic', Tahoma, sans-serif;}
legend, hr, .hidden {position:absolute; left:-9999em;}
.clearfix::after {content:''; clear:both; display:block;}
fieldset {border:0;}
input, button, select, textarea, a {font-family:inherit; color:inherit; font-size:inherit;}
button {padding:0; border:0; background:none;}
a {display:inline-block;}
a:hover, a:focus {text-decoration:underline;}
label, button, input[type='button'] {cursor:pointer;}
abbr[title] {cursor:help; text-decoration:none; border-bottom:1px dotted #333;}

/* skip navigation */
#skip-navigation {margin:0;}
#skip-navigation dt {position:absolute; left:-9999em;}
#skip-navigation dd a {position:absolute; left:-9999em; width:100%; height:40px; line-height:40px; font-size:1.6rem; color:#fff; text-align:center; background:#03427e; z-index:9999;}
#skip-navigation dd a:focus {left:0;}

html,body {margin:0;}
.wrapper {padding: 1em 1em 5em;}
header {}

strong,
.section-title,
.answer-area .tit,
.answer-area dt {font-family:'shs-b', 'Malgun Gothic', helvetica, 'Apple Gothic', Tahoma, sans-serif;}

section {padding:0 1em; margin-top:3em; border:2px solid #ccc;}
section:first-child {margin-top:0;}
.section-title {}
section .section-title::before {content:'[ ';}
section .section-title::after {content:' ]';}

.question-area {padding:0.5em; margin:2em 0 1em; color:#fff; background:#333;}
.section-title + .question-area {margin-top:0;}
.question-area * {font-size:2.2rem; padding:0.2em; margin:0;}
.question-area p {font-size:1.8rem;}
.answer-area {margin: 0 0.9em}
.answer-area .tit {margin-top:2em; font-size:2.2rem;}
.answer-area .tit:first-child {margin-top:0.5em;}
.answer-area dl {margin:0 0 1.5em;}
.answer-area dt {margin-top:1em;}
.answer-area dl dt:first-child {margin-top:0;}
.answer-area dd {position:relative; padding-left:1.5em; margin:0.5em 0;}
.answer-area dd::before {content:'- '; position:absolute; top:0; left:0.7em; font-weight:bold;}
