.wrapper, .wrapper * {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  width: 80%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.box ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.box ul li {
  overflow: hidden;
  width: 33.33333%;
  height: 300px;
  outline: 1px solid #000;
  background: #000 url("../../images/img01.jpg") 50% 0 no-repeat;
  background-size: cover;
  transition: background 0.5s ease-in-out;
}

.box ul li:nth-child(1) {
  background-image: url("../../images/img01.jpg");
}

.box ul li:nth-child(2) {
  background-image: url("../../images/img02.jpg");
}

.box ul li:nth-child(3) {
  background-image: url("../../images/img03.jpg");
}

.box ul li:hover, .box ul li:focus {
  background-position: 50% -300px;
}

.box ul li:hover .item, .box ul li:focus .item {
  padding-top: 20px;
  opacity: 1.0;
}

.item {
  box-sizing: content-box;
  height: 260px;
  padding: 20px;
  padding-top: 320px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  color: #fff;
  background: #000;
  opacity: 0;
  transition: padding-top 0.5s ease-in-out, opacity 0.8s;
}