@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Poppins');

/* 기본 스타일 */
html,body,div,header,nav,section,aside,article,footer,figure,figcaption,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,fieldset {margin:0; padding:0;}
input, button, select, textarea, a {font-family:inherit; color:inherit; font-size:inherit;}
a {display:inline-block; text-decoration:none;}
a:hover, a:focus {text-decoration:underline;}
ul {list-style:none;}
label, button, input[type='button'] {cursor:pointer;}
html {font-size:10px;}
body {font-size:1.6rem; line-height:1.5; color:#333; font-weight:400; font-family:'Poppins', sans-serif;}
legend, hr, .hidden {position:absolute; left:-9999em;}
.clearfix::after {content:''; clear:both; display:block;}


/* 레이아웃 */
.wrapper {width:100%; min-width:1360px; font-size:1.4rem;}
input, button, select, textarea {font-size:1.4rem;}
header {width:1140px; margin:0 auto; padding:70px 0 60px;}
#container {font-size:1.6rem;}
section {padding:90px 0; text-align:center;}
footer {border-top:1px solid #ebebeb;}
.section-cont, .footer-cont {width:1140px; margin:0 auto;}
.section-cont h1 {font-weight:normal;}


/* skip navigation */
#skip-navigation dt {position:absolute; left:-9999em;}
#skip-navigation dd a {position:absolute; left:-9999em; width:100%; height:40px; line-height:40px; font-size:1.6rem; color:#fff; text-align:center; background:#03427e; z-index:9999;}
#skip-navigation dd a:focus {left:0;}
#skip-navigation {background:red;}


/* header */
header {position:relative;}
header::after {content:''; clear:both; display:block;}
.logo {float:left;}
.logo a {overflow:hidden; display:block; width:77px; height:38px; text-indent:-999em; background:url('../images/logo.png') 0 50% no-repeat;}
.util-menu {float:right; margin-right:45px;}
.util-menu li {float:left;}
.util-menu li:first-child {margin-left:0;}
.util-menu li::before {content:'/'; opacity:0.5;}
.util-menu li:first-child::before {content:'';}
.util-menu li a {box-sizing:border-box; padding:0 5px; height:38px; line-height:38px;}
.util-menu li.current a {color:#03a67b;}
#hamburger {position:absolute; top:70px; right:0; height:38px; width:24px; overflow:hidden; text-indent:-999em; border:0; background:url('../images/btn_hamburger.png') 50% 50% no-repeat;}
#gnb {position:absolute; top:116px; right:0; width:200px; padding:5px 0; border-radius:5px; background:#f2f2f2; z-index:100; box-shadow:5px 5px 4px rgba(0,0,0,0.4);}
#gnb li a {display:block; height:40px; line-height:40px; padding:0 20px;}


/* footer */
footer {padding:60px 0;}
.footer-cont::after {content:''; clear:both; display:block;}
.footer-cont p {opacity: 0.6;}
.footer-cont dl {float:left; width:30%;}
.footer-cont dt a {overflow:hidden; display:block; width:77px; height:38px; text-indent:-999em; background:url('../images/logo.png') 0 50% no-repeat;}
.footer-link-area {float:right; width:50%; text-align:right;}
.footer-navigation li a, .social-link li a {display:inline-block; height:30px; line-height:30px;}
.footer-navigation li {display:inline-block; margin-left:20px;}
.social-link {margin-top:10px; font-size:0;}
.social-link li {display:inline-block; margin-left:10px;}
.social-link a {overflow:hidden; width:22px; font-size:1.4rem; text-align:left; text-indent:-999em; background-position:50% 50%; background-repeat:no-repeat;}
.social-link .slack {background-image:url('../images/social_slack.png');}
.social-link .twitter {background-image:url('../images/social_twitter.png');}
.social-link .facebook {width:18px; background-image:url('../images/social_facebook.png');}
.social-link .dribble {background-image:url('../images/social_dribble.png');}
.social-link .google-plus {background-image:url('../images/social_google_plus.png');}
.social-link .instagram {background-image:url('../images/social_instagram.png');}


/* container */
.section-cont h1 {font-size:4.4rem; letter-spacing:-0.02em;}
.section1 .section-cont h1 {font-size:5.2rem;}
.section-cont p {opacity:0.6;}
.section-cont dt {font-size:1.4rem;}

.section1 {padding-bottom:0;}
.section1 .section-cont .btn-area {margin:25px 0 50px;}
.section1 .item-area {}
.section2 {padding:0; background:#03a67b;}
.section2 .section-cont {position:relative; width:100%; color:#fff;}
.section2 .section-cont button {border:0; background:0;}
.section2 .section-cont p {opacity:1.0;}
.section2 .default-area {display:flex; flex-direction:column; justify-content:center; position:absolute; top:0; left:50%; height:460px; width:600px; margin-left:-300px;}
.section2 .player-area {overflow:hidden; height:460px;}
.section3 .feature-detail {display:flex; justify-content:center; margin-top:45px;}
.section3 .feature-detail > div {width:25%;}
.section3 .feature-detail .txt-area {display:flex; flex-direction:column; justify-content:center; padding:0 40px;}
.section3 .feature-detail .txt-area dl + dl {margin-top:50px;}
.section3 .feature-detail .txt-area dt {font-size:1.2rem; color:#03a67b; text-transform:uppercase; letter-spacing:0.25em;}
.section3 .feature-detail .txt-area dd {font-size:1.4rem;}
.section4 {background:#fcfcfc;}
.section4 .section-cont {width:1360px;}
.section4 h1 {margin-bottom:50px;}
.section4 .slide-area {position:relative; padding:0 110px;}
.section4 .init {display:flex; justify-content:space-between; height:251px; overflow:hidden;}
#gallerySlide a {display:flex; align-items:center; overflow:hidden; height:251px; width:251px; text-align:center;}
#gallerySlide a img {width:100%; border-radius:5px;}
.section4 .slide-area .bx-controls-direction a {position:absolute; top:50%; width:78px; height:78px; margin-top:-39px; overflow:hidden; text-indent:-999px;}
.section4 .slide-area .bx-controls-direction .bx-prev {left:0; background:url('../images/btn_prev.png') 50% 50% no-repeat;}
.section4 .slide-area .bx-controls-direction .bx-next {right:0; background:url('../images/btn_next.png') 50% 50% no-repeat;}
.section5 .section-cont h1 {margin-bottom:50px;}
.section5 .store-map {position:relative; height:579px; background:url('../images/img_store_map.png') 50% 100% no-repeat;}
.section5 .store-map li {position:absolute; height:60px; width:40px; background:url('../images/icon_marker.png') 50% 100% no-repeat; cursor:pointer;}
.section5 .store-map li:hover, .section5 .store-map li:focus {z-index:10;}
.section5 .store-map li:hover::after,
.section5 .store-map li:focus::after {content:''; position:absolute; bottom:36px; left:50%; margin-left:-12px; height:0; width:0; border-left:12px solid transparent; border-right:12px solid transparent; border-bottom:12px solid transparent; border-top:12px solid #fff;}
.section5 .store-map li dl {display:none; box-sizing:border-box; position:absolute; bottom:60px; left:50%; width:360px; margin-left:-180px; padding:20px 30px; border-radius:5px; box-shadow:0 0 10px 5px #eee; background:#fff;}
.section5 .store-map li:hover dl,
.section5 .store-map li:focus dl {display:block;}
.section5 .store-map li dt {font-weight:bold; color:#03a67b;}
.section5 .store-map li dd p {margin:10px 0 0;}
.store-location01 {top:104px; left:156px;}
.store-location02 {top:346px; left:347px;}
.store-location03 {top:32px; left:402px;}
.store-location04 {top:210px; left:620px;}
.store-location05 {top:90px; left:720px;}
.store-location06 {top:262px; left:880px;}
.store-location07 {top:382px; left:960px;}


/* 공통 스타일 */
.btn-area .icon-btn, .icon-btn {height:50px; line-height:48px; padding:0 30px; border:2px solid #03a67b; border-radius:4px; text-transform: uppercase; letter-spacing:0.5em; font-size:1.2rem; font-weight:bold; color:#03a67b; background:transparent;}
.icon-btn span {display:inline-block; height:46px; line-height:46px;}
.icon-btn span::before {content:'▶ ';}